body {
    font-family: Arial, sans-serif;
    background-color: #1e8c81;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: rgb(255, 255, 173);
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0px 4px 15px rgba(0,0,0,0.2);
    width: 500px;
    text-align: center;
}

textarea {
    width: 100%;
    height: 120px;
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 15px;
}

button {
    background-color: #cf88fb;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}

.result {
    margin-top: 20px;
    padding: 15px;
    background-color: #f5bce3;
    border-radius: 8px;
}
